.sciencemesh-container {
   padding: 10px 40px;
}
#hello {
	color: red;
}

/*
 * Author: Parham R. <parhamin2010@gmail.com>
 * Page: templates/generate.php
*/

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css";

.app-sciencemesh #app{
   display: contents;
}
#app{
   width: 100% !important;
}

.app-content-list{
   max-width: 100% !important;
}

#app{
   width: 100% !important;
}

.app-content-list{
   max-width: 100% !important;
}


.token-added{
   width: 30px;
   height: 30px;
   margin: 5px;
   text-align: center;
   padding-top: 5px;
   border-radius: 100%;
   color: white;
   font-size: large;
   background: rgb(31, 72, 96);
}

.token-added:hover{
   background: rgb(93, 116, 130);
}

.app-content-list-item-line-one{
   font-size:medium;
}

.app-content-list-item-line-two{
   font-size:small;
}

.app-content-list-item-menu{
   position:absolute;
   right:0
}

#contact-toolbar{
   margin: 20px 10px 0px;
   display: flex;
}

#token-generator{
   color: white;
   cursor: pointer;
   width: auto;
   height: 36px;
   border-radius: 0.2em;
   border: 0;
   background-color: rgb(31, 72, 96);
   font-size: medium;
   padding: 5px 15px 0px 5px;
   display: flex;
}


#token-generator:hover {
   background-color: rgb(57, 142, 192);
}


#token-generator .button-icon {
   display: block;
   width: 20px;
   height: 25px;
   margin: 0 2.5px;
   filter: invert(1);
}

.generated-token-link{
   height: 36px !important;
}

#token-input{
   width: 100%;
   display:block;
   padding-right: 40px;
}

.token-holder {
   display: flex;
   padding: 0px !important;
   text-align: center;
   flex-direction: column;
   align-items: center;
   gap: 1.2em;
   margin: 2em 0 2em;
}

#show_result{
   border:1px solid #eee;
}

.app-content-list-item-token{
   margin: 5px
}

.app-content-list-item-token-div{
   margin:10px 30px;
   text-align: center;
}

.message-token{
   margin:0px;
   color: green;
   padding:5px;
   width: 180px;
   font-size: 12px;
   padding:5px 6px;
   height:36px;
   border-radius: 5px;
   margin: 2.5px 5px;
}

.generated-token-link{
   color:#0993de; 
   text-overflow: ellipsis;
   overflow: hidden; 
   white-space: nowrap;
   width:100% !important;
   display:inline;
   cursor:pointer;
}

.token-btn-verification{
   display:block;
   background: green;
   color:white;
   padding:5px;
   font-weight: bold;
}

.clipboard-icon-token{
   width: 20px;
   height: 20px;
   display: inline-block;
   position: relative;
   top: 4px;
}

.check-token{
   background-color: rgb(6, 182, 6) !important;
   position:relative;
   width:200px !important;
   color: white !important;
}

#test_error{
   padding: 5px;
   border: 1px dashed;
   border-radius: 4px;
   margin: 10px 10px;
   text-align: center;
}

.section{
   padding: 12.5px 10px;
   width: 100%;
}

.app-content-list-item-icon{
   width: 20px;
   height: 20px;
   margin: 10px;
   color: white;
   font-size: large;
   text-align: center;
   border-radius: 100%;
}

.profile-item{
   display: flex;
}

.displayname{
   font-size: 9pt;
   font-weight: bold;
   line-height: 10px !important;
}

#elem{
   padding: 5px;
}

#elem:hover{
   background-color: #00000011;
   padding: 5px;
}



.text-success{
   color: green !important;
}


.section{
   padding: 12.5px 10px;
   width: 100%;
}


.section-sciencemesh{
   margin: 10px !important;
}


.contacts-table{
   width: 98%;
   padding: 10px 20px;
   margin: 5px 10px;
   border-spacing: 3px;
}
.contacts-table thead th,.contacts-table thead td {
   border: 1px solid #041e4222;
   border-radius: 3px;
   padding:5px 15px !important;
 }
 
.contacts-table thead tr td{
   background-color: #ccd2d9;
   padding: 2.5px;
}
.contacts-table tbody tr td:first-child{
   width: 5% !important;
   text-align: center;
}

.contacts-table tbody tr td:first-child{
   text-align: center;
   width: 1% !important;
}
.contacts-table tbody .app-content-list-item{
   height: auto !important;
   padding: 5px 10px;
}

.contacts-table tbody tr th{
   height: auto !important;
   padding: 5px 10px;
}
.contacts-table tbody tr td:nth-child(2){
   width: 20% !important;
   border-bottom: 1px solid #ececec;
}
.contacts-table tbody tr td:nth-child(3){
   width: 45% !important;
   border-bottom: 1px solid #ececec;
}
.contacts-profile-img{
   height: 35px;
   margin: 2.5px 0px;
   width: 35px;
   border-radius: 3px;
   box-shadow: 0px 0px 5px #0002;
   display: inline-block;
}

.contacts-table tbody tr:hover{
   background-color: #00000000;
}

.contacts-table tbody tr{
   border-bottom: 1px solid #00000011;
}
.contact-title-desc{
   display: block;
   margin: 0 0 -10px 25px;
   width: 100%;
}
.input-checkbox-contacts{
   display: inline-block;
   position: relative;
   top: -13px;
   margin:0 5px 0 -25px;
}
.username-provider{
   width: 45%;
   text-align: left;
}

	
.token-generator{
   width:100%;
   display:flex;
}

#app-content-wrapper {
   /* display: flex;
   flex-direction: row; */
}
#contact-toolbar {
   align-items: center;
}

#invitation-details {
   width: 80%;
   align-items: center;
}

.contact-title-desc {
   margin-top: 0.3rem;
   margin-left: 1rem;
}

.contacts-table {
   margin-top: 1rem;
   border-collapse: collapse;
}

.share-options {
   display: inline-block;
   margin: 10px 0;
}
.share-select {
   font-size: 16px;
   padding: 5px;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMTYpIj4KICAgIDxwYXRoIGZpbGw9IiMyRjVGNUYiIGQ9Ik0gMTQuNSwxNiAwLjUsMTYgMC44LDIyLjIgNS4yLDIyLjIgMTQuNSwyMi4yIDE0LjUsMTYgWiIvPgogIDwvZz4KPC9zdmc+Cg==);
   background-size: 8px 4px;
   background-repeat: no-repeat;
   background-position: right;
   cursor: pointer;
}

.sciencemesh-settings-row label{
   width: 15%;
   display: inline-block;
}
.sciencemesh-settings-row input[type="text"]{
   margin: 5px;
}

#sciencemesh_setting_submit_btn{
   float: right;
   margin: 5px 60px;
   width: 143.4px;
}
#share-token-btn{
   background-size: 20px !important;
   width: 30px;
}
