<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <filter>
      <whitelist
              addUncoveredFilesFromWhitelist="true"
              processUncoveredFilesFromWhitelist="true">

          <directory suffix=".php">./lib/</directory>
      </whitelist>
  </filter>

  <logging>
      <log type="coverage-html" target="./tests/coverage/html/"/>
      <log type="coverage-clover" target="./tests/coverage/coverage.xml"/>
  </logging>

  <testsuites>
      <testsuite name="unit">
          <directory>./tests/unit</directory>
          <directory>./tests/service</directory>
      </testsuite>
  </testsuites>
</phpunit>
